.shopping_cart{
    padding: 50px;
}
h2{
    margin: 30px 0;
}
.cartBox {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
}

.title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.empty {
  text-align: center;
  font-style: italic;
  color: #555;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
}

.info h4 {
  margin: 0;
  font-size: 18px;
}

.info p {
  margin: 3px 0;
}

.qty {
  display: flex;
  align-items: center;
}

.qty button {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  border-radius: 4px;
}

.qty span {
  margin: 0 8px;
  font-weight: bold;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background: darkred;
}

.total {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_btn{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #00b207;
    color: white;
}
.order_btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
}


@media (max-width: 768px) {
.total {
  font-size: 18px;
}

.info h4 {
  margin: 3px;
  font-size: 16px;
}
.cartBox {
  width: 90%;
  margin: 30px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;

}
.info p {
  margin: 3px ;
  font-style: 14px;
}

.qty {
  display: flex;
  align-items: center;
}

.qty button {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  border-radius: 4px;
}



.delete {
    margin: 0 5px;
    font-size: 12px;
    width: 70px;
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
}
@media (max-width: 475px){
.card {
flex-direction: column;
gap: 10px;
align-items: center;
}
.card h4{
text-align: center;
}
.card p{
text-align: center;
}
.order{
    flex-direction: column;
}
}
